<h1>My Photos</h1>

<% @photos.each do |photo| %>
  <div data-toggle='modal' data-target='#myModal'>
    <%= image_tag(photo.image.url(:thumb)) %>
  </div>
<% end %>



<p><%= link_to "Add a new photo", new_user_photo_path(current_user) %>

